*{
    font-family: 'Crimson Text', serif;
    margin:0;
    padding:0;
}
.flex-item {
    padding: 0px 16.1px 0px 16.1px;
    width: auto;
}
#header-container {
    width: 100%;
}
#brick-and-mortar {
  display: flex;
  flex-direction: column;
}
#online {
  display:flex;
  flex-direction: column;
}
#contact-box {
  border-top: 1px solid;
  border-bottom: 1px solid;
  float: right;
  width: 100%;
}
#menu {
  border-bottom: 1px solid;
  height: 40px;
  display: flex;
  width: 100%;
}
#menu-item {
  background-color: white;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
rect {
  fill: navy;
}
rect:hover {
  fill: maroon;
}
.axis path, .axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}
        
.axis text {
  font-family: 'Crimson Text', serif;
  font-size: 13px;
}
  .tick{
  stroke-dasharray: 1, 2;
}
  .bar{
  fill: blue;
}
#skill-chart-svg {
  background-color: white;
}
#visualisation {
  height: 500px;
  width: 100%;
}
#main-body {
  background-color: white;
  box-shadow: 1px 1px 10px 10px black;
  display: flex;
  margin: 20px 0px 0px 0px;
}
.chart {
  display: flex;
  flex-direction: column;
}
.chart div {
  background-color: red;
  color: white;
  font: 10px sans-serif;
  margin: 1px;
  padding: 3px;
  text-align: right;
}
.chart rect {
  fill: red;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#left {
  background-color: white;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  float: left;
  width: 211px;
}
#right {
  display: inline;
  width: calc(100% - 210px);
}
#projects {
  background-color: white;
}
#education {
  display: flex;
  flex-direction: column;
}
.education-entry a {
  font-weight: bold;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.work-entry:nth-child(3) {
  background-color: #f3f3f3;
}
.work-entry:nth-child(5) {
  background-color: #f3f3f3;
}
body {
  background-color: #ccd6cc;
}
.icon {
  height: 16px;
  padding: 0px 3px 0px 0px;
  width: 16px;
}

#divisor {
  background-color: black;
  border-radius: 5px;
  color: black;
  display: flex;
  height: 2px;
  margin: 2px 0px 2px 0px;
  width: calc(80% - 10px);
}
#pic-holder {
  display: flex;
  float: left;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  width: 200px;
}

#main {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

#name {
  color: black;
  display: flex;
  float: left;
  font-size: 50px;
  height: auto;
  line-height: 70px;
  padding: 0px 0px 0px 10px;
  width: calc(75% - 10px);
}

h2 {
  color: #999999;
  font-style: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  background-color: #fafafa;
  color: #000000;
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
  padding: 5px;
  padding-left: 5%;
  padding-right: 5%;
}

h4 {
  color: #4A4A4A;
  font-style: bold;
  font-size: 14px;
  line-height: 17px;
}

h2, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  color: #999999;
  float: left;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
}

.location-text {
  color: #999999;
  float: right;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
}

p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

a {
  color: black;
  display: inherit;
  margin-top: 0px;
  text-decoration: none;
}

.welcome-message {
  background-color: white;
  display: flex;
  float: inherit;
  height: 400px;
  line-height: 25px;
  padding: 10px;
  text-align: justify;
  width: auto;
}

#skillsH3 {
  color: black;
  display: block;
  float: left;
  padding: 0px 0px 0px 0px;
  text-align: center;
  width: 100%;
}

#skills {
  display: flex;
  float: left;
}

.orange {
  background-color: #F5AE23;
}
#work-exp {
  background-color: #F3F3F3;
}
.orange-text {
  color: black;
  font-weight: bold;
  float: left;
  height: 16px;
  padding: 2px 0px 0px 0px;
  width: auto;
}

.white-text {
  color: black;
  float: right;
}

.gray {
  background-color: white;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

#header {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}
.skill-box {
  display: block;
  height: auto;
  line-height: 20px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  width: 100%;
}
.skill-box:nth-child(1) {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  width: 100%;
}
.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-content {
  padding: 0px 0px 0px 0px;
}

ul {
  list-style-type: none;
}

#note {
  list-style-type: square;
}

.biopic {
  display: block;
  border-radius: 1000px;
  float: left;
  width: 200px;
}

/* Bar chart stuff */
.chart div {
  background-color: #4A4A4A; 
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

#role {
  padding: 40px 10px 0px 0px;
  width: calc(25% - 10px);
  height: auto;
  text-align: right;
  float: right;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 90%;
  margin: 3% 5% 0% 5%;
}

#map-div {
  height: 500px;
  padding-bottom: 5%;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  #skills,
  .biopic {
    display: block;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .orange-text img {
        display: none;
    }
    #name {
        font-size: 20px;
        line-height: 30px;
        padding: 0px 0px 0px 5px;
    }
    #role {
        font-size: 13px;
        line-height: 30px;
        padding: 0px 5px 0px 0px;
        width: 25%;
    }
    #left {
        display: none;
    }
    #right {
        width: 100%;
    }
    #menu {
        display: inline-block;
        height: 10px;
    }
    #contact-box {
        height: 10px;
    }
    #menu-item {
        float: left;
        font-size: 8px;
    }
    .flex-item {
    padding: 0px 7px;
    width: auto;
    font-size: 8px;
    }
    
    .welcome-message {
        font-size: 10px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #left {
        display: none;
    }
    #right {
        width: 100%;
    }
    #menu {
        display: inline-block;
    }
    #menu-item {
        float: left;
    }
    .flex-item {
    padding: 0px 13px 0px 13px;
    width: auto;
    }
}
